<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Risk Analysis Result</h1>

    <div class="card">
        <p><strong>Asset:</strong> {{ asset }}</p>
        <p><strong>Predicted Attack:</strong> {{ attack }}</p>

        <p><strong>Exposure Level:</strong> {{ exposure }}</p>
        <p><strong>Business Impact:</strong> {{ impact }}</p>


        <h2 style="color: {{ color }};">Risk Score: {{ score }}</h2>
        <p><strong>Risk Level:</strong> {{ level }}</p>

        <p class="explanation">{{ explanation }}</p>

        <a href="/" class="btn">Analyse Another Asset</a>
    </div>
</div>

</body>
</html>
